<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="files/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="files/fontawesome/css/brands.css" rel="stylesheet">
    <link href="files/fontawesome/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="files/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="files/css/textEditor.css">
    <link rel="stylesheet" href="files/css/<%= css %>.css">
    <title><%= title %></title>
</head>
<body>